@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-reg-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proximanova-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
$font-proxima: 'Proxima Nova', verdana;