!!!
%html
  %head
    %title PFCONF
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %script(src="//use.typekit.net/uxc3cnh.js")
    :javascript
      try{Typekit.load();}catch(e){}
    %link(href="css/styles.css" rel="stylesheet" type="text/css")
  %body
    %header.header
      .wrapper
        .frame
          .logo FPCONF - Москва, апрель 2015
          %a.buy-a-ticket(href="#") Купить билет
      %nav.nav
        .wrapper
          .nav-lang
            %a.nav-lang-link.active(href="#") RU
            %a.nav-lang-link(href="#") EN
          %ul.nav-list
            %li.nav-item
              %a.nav-link(href="#about") О конференции
            %li.nav-item
              %a.nav-link(href="#speakers") Спикеры
            %li.nav-item
              %a.nav-link(href="#program") Программа
            %li.nav-item
              %a.nav-link(href="#sponsors") Спонсоры
            %li.nav-item
              %a.nav-link(href="#contacts") Контакты
    %section#about.about
      .wrapper
        .content
          %h1
            FPCONF — первая конференция
            %br
            о&nbsp;функциональном программировании в России
          %p
            Функциональное программирование — тема на острие развития современной разработки ПО.
            Erlang, Scala, Clojure, F#, Haskell, функциональные подходы в хорошо знакомых Ruby и Java,
            монады и лямбды, несколько лет назад были делом ученых и экспериментаторов.
            Сегодня они входят в нашу повседневную жизнь и становятся новым трендом в разработке.
            Присоединяйтесь, зажжем функциональным напалмом вместе!
            Любителям Scala и Clojure, Haskell и Erlang есть о чем пообщаться друг с другом.
        .social
          %a.social-link.icon.icon-twitter(href="#") FPCONF в Twitter
          %a.social-link.icon.icon-facebook(href="#") FPCONF на Facebook
          %a.social-link.icon.icon-googleplus(href="#") FPCONF в Google+
    %section#speakers.content-section
      .wrapper
        %h2.section-title Спикеры
        .section-action
          %a.section-action-link(href="#") Хочу стать спикером
        .content.speakers
          .speakers-one
            .speakers-image
              %img(src="http://itlifeconf.ru/assets/images/speakers/Ryzhikov1.jpg")
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby & clojure сообществ
              и мета-сообщества «piter-united»
          .speakers-one
            .speakers-image
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby & clojure
          .speakers-one
            .speakers-image
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby & clojure сообществ
              и мета-сообщества «piter-united»
          .speakers-one
            .speakers-image
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby &
          .speakers-one
            .speakers-image
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby & clojurespeakers-one
          .speakers-one
            .speakers-image
            .speakers-name Николай Рыжиков
            .speakers-descr
              Технический лидер команды «health samurai», активист питерского ruby & clojure сообществ
              и мета-сообщества «piter-united»
          .speakers-dummy
          .speakers-dummy
          .speakers-dummy
    %section#program.content-section
      .wrapper
        %h2.section-title Программа
        .content
          %dl.schedule
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event
              .icon.icon-reg(title="Регистрация участников") Регистрация участников
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event.report
              %a.report-title(href="#") Clojure, Начало
              .report-preview
                %p
                  Краткое введение в синтаксис, а также инфраструктуру языка программирования Haskell.
                  Использование Haskell «в продакте» — нужно ли, как добиться, преимущества,
                  возникшие проблемы. Дополнительные источники информации - литература,
                  онлайн-ресурсы, куда обратиться за помощью. Доклад будет полезен тем,
                  кто интересуется языком программирования Haskell независимо от текущего
                  уровня владения языком. Новички узнают, насколько сложен Haskell
                  и кому стоит браться за его изучение. Людям, которые какое-то время
                  уже программируют на Haskell, будет интересно услышать об опыте его
                  практического использования, а также о том, как убедить своих коллег
                  использовать Haskell и нужно ли вообще это делать.
              .report-author
                .report-author-name
                  Николай Рыжиков
                .report-author-descr
                  Технический лидер команды «health samurai»,
                  активист питерского ruby & clojure сообществ и мета-сообщества «piter-united»
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event
              .icon.icon-lunch(title="Время ланча") Время ланча
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event.report
              %a.report-title(href="#") Введение в Erlang
              .report-preview
                %p
                  Краткое введение в синтаксис, а также инфраструктуру языка программирования Haskell.
                  Использование Haskell «в продакте» — нужно ли, как добиться, преимущества,
                  возникшие проблемы. Дополнительные источники информации - литература,
                  онлайн-ресурсы, куда обратиться за помощью. Доклад будет полезен тем,
                  кто интересуется языком программирования Haskell независимо от текущего
                  уровня владения языком. Новички узнают, насколько сложен Haskell
                  и кому стоит браться за его изучение. Людям, которые какое-то время
                  уже программируют на Haskell, будет интересно услышать об опыте его
                  практического использования, а также о том, как убедить своих коллег
                  использовать Haskell и нужно ли вообще это делать.
              .report-author
                .report-author-name
                  Максим Лапшин
                .report-author-descr
                  Разработчик масштабируемых веб-сервисов, знаток Erlаng,
                  автор видеостримингового сервера erlyvideo
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event
              .icon.icon-coffee(title="Перерыв на кофе") Перерыв на кофе
            %dt.schedule-time 12:00–13:00
            %dd.schedule-event.report
              %a.report-title(href="#") Haskell — это просто!
              .report-preview
                %p
                  Краткое введение в синтаксис, а также инфраструктуру языка программирования Haskell.
                  Использование Haskell «в продакте» — нужно ли, как добиться, преимущества,
                  возникшие проблемы. Дополнительные источники информации - литература,
                  онлайн-ресурсы, куда обратиться за помощью. Доклад будет полезен тем,
                  кто интересуется языком программирования Haskell независимо от текущего
                  уровня владения языком. Новички узнают, насколько сложен Haskell
                  и кому стоит браться за его изучение. Людям, которые какое-то время
                  уже программируют на Haskell, будет интересно услышать об опыте его
                  практического использования, а также о том, как убедить своих коллег
                  использовать Haskell и нужно ли вообще это делать.
              .report-author
                .report-author-name
                  Александр Алексеев
                .report-author-descr
                  Автор блога о программировании eax.me и со-ведущий подкаста
                  %a(href="#") eax.me/tag/podcast/
    %section#sponsors.content-section
      .wrapper
        %h2.section-title Спонсоры
        .section-action
          %a.section-action-link(href="#") Хочу стать спонсором
        .content.sponsors
          %article.sponsors-part.general
            %h3 Генеральный  спонсор
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
          %article.sponsors-part.organizers
            %h3 Организаторы
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")

          %article.sponsors-part.medal
            %h3 Золотые спонсоры
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor2.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor2.jpg" alt="")
          %article.sponsors-part.medal
            %h3 Серебряные спонсоры
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor2.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor2.jpg" alt="")

          %article.sponsors-part.inform
            %h3 Информационные спонсоры
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")

            .separator
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            %a.sponsors-link(href="#")
              %img(src="images/sponsors/sponsor.jpg" alt="")
            .dummy
            .dummy
    %section#contacts.map-section
      .wrapper
        %h2.section-title Контакты
        %dl
          %dt Адрес
          %dd Москва, улица Николоямская,   45, стр. 1
          %dt EMAIL
          %dd info@fpconf.ru
      #map.map
    %footer.footer
      .wrapper
        .copyright
          © fpconf — 2015
          %span +7 (495) 943-24-54
          %a(href="mailto:mail@evrone.ru") mail@evrone.ru
          %a(href="#") Нормы поведения
        .developer
          Разработка сайта:
          %a(href="http://evrone.ru/") EVRONE
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="http://maps.google.com/maps/api/js?sensor=false")
    %script(src="http://maps.stamen.com/js/tile.stamen.js")
    %script(src="js/script.js")
