!!!
%html
  %head
    %title PFCONF - внутренняя страница
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %script(src="//use.typekit.net/uxc3cnh.js")
    :javascript
      try{Typekit.load();}catch(e){}
    %link(href="css/styles.css" rel="stylesheet" type="text/css")
  %body.simple-page
    %header.header
      %nav.nav
        .wrapper
          .nav-lang
            %a.nav-lang-link.active(href="#") RU
            %a.nav-lang-link(href="#") EN
          %ul.nav-list
            %li.nav-item
              %a.nav-link(href="index.html#about") О конференции
            %li.nav-item
              %a.nav-link(href="index.html#speakers") Спикеры
            %li.nav-item
              %a.nav-link(href="index.html#program") Программа
            %li.nav-item
              %a.nav-link(href="index.html#sponsors") Спонсоры
            %li.nav-item
              %a.nav-link(href="index.html#contacts") Контакты
    %section#program.content-section.decorated.simple-page
      .wrapper
        %h2.section-title code of conduct
        .content
          %h3.content-header
            %span.content-header-underline Зрители и Участники
          %ol.content-list
            %li
              Чтобы стать Участником фестиваля Бакумацу-тайсай, необходимо своевременно подать заявку
              на участие со всеми сопровождающими материалами, в случае необходимости пройти
              прослушивание, получит подтверждение, что заявка принята оргкомитетом, приобрести билет
              по специальной цене и явиться на мероприятие к заранее оговоренному оргкомитетом часу.
            %li
              Подтверждением статуса Участника является бейдж, который необходимо всегда иметь при себе,
              так как он является основным документом Участника на фестивале и печать, которая является
              пропуском Участника в гримерки.
            %li
              Чтобы стать зрителем фестиваля Бакумацу-тайсэй, необходимо приобрести билет на
              мероприятие и явиться на него в указанный день.
              %br
              Зрительские и Участнические билеты необходимо сохранять до конца мероприятия.
              %br
              Дети до 14 лет допускаются на фестиваль только в сопровождении родственников
              или ответственных за них лиц.
          %h3.content-header
            %span.content-header-underline Участник имеет право:
          %ol.content-list
            %li
              Принимать активное участие в заявленных им номерах.
            %li
              Изменять свои пожелания относительно света, звука и прочих технических моментов
              выступления не позднее, чем за неделю до начала фестиваля.
            %li
              Высказывать оргкомитету свои пожелания, касаемые порядка своих выступлений и их места в
              программе не позднее, чем за 5 дней до начала фестиваля.
            %li
              Снять свое выступление из программы не позднее начала соответствующего блока программы.
            %li
              Находиться на предназначенной для участников территории ДК (гримерки, коридоры ведущие к
              гримеркам и сцене), где проходит мероприятие, в течение времени, определяемого
              организаторами (за два часа до начала фестиваля и полчаса после его окончания).
            %li
              Проводить время, не занятое под выступления, как обычный зритель, находясь
              на территории ДК, предназначенной для зрителей.
            %li
              Пользоваться услугами фотографов фотоугла.
            %li
              Пользоваться услугами торговых точек на территории ДК.
          %h3.content-header
            %span.content-header-underline Зритель имеет право:
          %ol.content-list
            %li
              Находиться на предназначенной для зрителей территории ДК, где проходит мероприятие,
              в течение всего мероприятия.
            %li
              Отдать свой голос за понравившиеся выступления, заполнив специальный бланк голосования.
            %li
              Пользоваться услугами фотографов фотоугла.
            %li
              Пользоваться услугами торговых точек на территории ДК.
            %li
              В случае возникновения внештатной ситуации, обратиться к Оргкомитету за помощью.
    %footer.footer
      .wrapper
        .copyright
          © fpconf — 2015
          %span +7 (495) 943-24-54
          %a(href="mailto:mail@evrone.ru") mail@evrone.ru
          %a(href="#") Нормы поведения
        .developer
          Разработка сайта:
          %a(href="http://evrone.ru/") EVRONE
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    %script(src="http://maps.google.com/maps/api/js?sensor=false")
    %script(src="http://maps.stamen.com/js/tile.stamen.js")
    %script(src="js/script.js")
